@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  width: 100%;
  overflow-x: hidden;
}

.custom-gradient {
  background: linear-gradient(to bottom right, #158ad4, #39eadd);
}

.primary-blue {
  color: #158ad4;
}
