@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .calculated-width {
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px);
  }
}

.custom-gradient {
  background: linear-gradient(to bottom right, #158ad4, #39eadd);
}

.menu-gradient:hover {
  background: linear-gradient(to bottom right, #158ad4, #39eadd);
}

.primary-blue {
  color: #158ad4;
}
